@import '../../lib/index'

.test1
    border-radius: 10px

.test2
    border-radius: 10px 20px

.test3
    border-radius: 10px 20px 30px

.test4
    border-radius: 10px 40px 20px 30px !important

.test5
    border-radius: bottom-left 10px bottom-right 10px

.test6
    border-radius: top 10px bottom-right 10px

.test7
    border-radius: top 10px bottom 10px

.test8
    border-radius: top 10px right 40px left 20px bottom 30px !important