@import '../../lib/index'

.position-test-1
    absolute: 10px

.position-test-2
    absolute: 10px 20px

.position-test-3
    absolute: 10px 20px 30px
    
.position-test-4
    absolute: 10px 20px 30px 40px

.position-test-5
    absolute: 10px 20px 30px 40px !important

.position-test-named-params-1
    absolute: top

.position-test-named-params-2
    absolute: top right

.position-test-named-params-3
    absolute: top right bottom

.position-test-named-params-4
    absolute: bottom left top !important

.position-test-named-params-5
    absolute: top 10px

.position-test-named-params-6
    absolute: bottom top 20px

.position-test-named-params-7
    absolute: right 10px left 20px bottom !important

.position-test-named-params-8
    absolute: top 10px left 30px right 20px bottom 40px